header{
	
	background: #ffffff;
	overflow: auto;
	border: 1px solid;
	border-color: #cccccc;
	width: 100%
	margin-left: 0px;
	margin-right: 0px;
	
}

body {
	/*background: #eee;*/
	background-image: url("../images/vintage-concrete.png");
	/*background-image: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg);*/
}

hr {
	margin-right: 20px;
	margin-left: 20px;
}

p {
	text-align: justify;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}


#click {
	text-align: right;
	margin-top: 20px;
	margin-right: 30px;
}

h1 {
	float: left;
	width: 21%;
	padding: 10px;
	margin-left: 100px;
	background: #4aaaa5;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family:'Georgia', 'Times', 'Times New Roman', serif;
	font-size: 25px;
	color: #ffffff;
	text-align: center;
}

#pic {
	margin-right: 20px;
}

#left {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	font-size: 17px;

}

#center {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	font-size: 17px;
}

#right {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #777777;
	font-size: 17px;
	}

#main {
	width: 960px;
	margin-top: 40px;
	

}

#container1 {
	width: 70%;
	float: left;
}

#aboutMe {
	border: 1px solid;
	border-color: #dddddd;
	width: 500px;
	margin-left: 100px;
	margin-bottom: 40px;
	background: #ffffff;
	
}

#content {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactMe {
	border: 1px solid;
	border-color: #dddddd;
	width: 500px;
	margin-left: 100px;
	margin-bottom: 40px;
	background: #ffffff;

}

#container2 {
	width: 30%;
	float: left;
}

#contact {
	border: 1px solid;
	border-color: #dddddd;
	width: 180px;
	background: #ffffff;
}

h2 {
	text-align: left;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	color: #777777;
}


#linkdin {
	width: 50px;
	height: 50px;
	margin-left: 5px;
}

#github {
	width: 50px;
	height: 50px;
}

#stack {
	width: 50px;
	height: 50px;
}

#portfolioMe {
	border: 1px solid;
	border-color: #dddddd;
	width: 500px;
	height: auto;
	overflow:auto; 
	margin-left: 100px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	background: #ffffff;
	
}

#container3{
	width: 50%;
	float: left;
}

#container4 {
	width: 50%;
	float: left;
}

.image-1 {
	position: relative;
	width: 200px;
	height: 150px;
}
.hangman {
 	position: absolute;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	background-color: #4aaaa5;
 	width: 200px;
 	bottom: 20px;
 	text-align: center;
 	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
 	color: #ffffff;
 
 }

 .image-2 {
 	position: relative;
	width: 200px;
	height: 150px;
 }

 .rpg { 
 	position: absolute;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	background-color: #4aaaa5;
 	width: 200px;
 	bottom: 20px;
 	text-align: center;
 	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
 	color: #ffffff;
 }

 .image-3{
 	position: relative;
	width: 200px;
	height: 150px;
 }

 .trivia {
 	position: absolute;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	background-color: #4aaaa5;
 	width: 200px;
 	bottom: 20px;
 	text-align: center;
 	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
 	color: #ffffff;
 }

.image-4 {
 	position: relative;
	width: 200px;
	height: 150px;
}

.rutgers {
	position: absolute;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	background-color: #4aaaa5;
 	width: 200px;
 	bottom: 20px;
 	text-align: center;
 	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
 	color: #ffffff;

}

.image-5 {
	position: relative;
	width: 200px;
	height: 150px;
}

.rock {
	position: absolute;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	background-color: #4aaaa5;
 	width: 200px;
 	bottom: 20px;
 	text-align: center;
 	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
 	color: #ffffff;
}

#aboutFooter{
	position: absolute;
	bottom: 0;
	background: #666666;
	width: 100%;
	clear: both;
	color: #D3D3D3;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-top: 7px solid #4aaaa5;
	border-color: #4aaaa5;

}

#footer{
	position: absolute;
	bottom: 0;
	background: #666666;
	width: 100%;
	clear: both;
	color: #D3D3D3;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-top: 7px solid #4aaaa5;
	border-color: #4aaaa5;

}

/*The footer setting above keeps moving the footer on the portfolio page upwards, so I had to remove 
absolute positioning for the portfolio, but need it for about me page and the contact page. Nev*/

#portFooter {
	bottom: 0;
	background: #666666;
	width: 100%;
	clear: both;
	color: #D3D3D3;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-top: 7px solid #4aaaa5;
	border-color: #4aaaa5;

}